@(keywordForm: Form[models.LocationData], callAPI: String, apiResult: JsObject)(implicit r: RequestHeader, request: MessagesRequestHeader)
@import helper._

@main("Welcome to Play") {
  <h1>Welcome to Play!</h1>

  <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">

  <input type="hidden" id="callAPI" value="@callAPI">
  @b4.vertical.formCSRF(routes.VelibsLocationController.getSplioVelibs) { implicit vfc =>
    @b4.text(
      keywordForm("location"),
      Symbol("placeholder") -> "Please put a Velib Station name or the closest Metro Station name"
    )
    @b4.submit('class -> "btn btn-secondary"){
      <i class="fa fa-ok"></i> Get Splio closest Velibs station
    }
  }

  <div id="resultContent">@apiResult.toString</div>

}

